@keyframes hoverProgressChanging {
    from {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1.0);
    }
}
@keyframes avatarBoxshadowChanging {
    from {
        box-shadow: 0 0 0 5px #00BFFF;
    }
    to {
        box-shadow: 0 0 20px 10px #00BFFF;
    }
}
@keyframes expContentItemChanging {
    from {
        box-shadow: 0 0 0 2px #87CEFF;
    }
    to {
        box-shadow: 0 0 5px 5px #87CEFF;
    }
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #188eee;
    min-height: 600px;
}
.resume-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    background: #188eee;
}
.resume-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    background: url("http://coding.imweb.io/img/project/resume/bg.png");
    color: #fff;
}
.self-avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #00BFFF;
    background: #fff;
    overflow: hidden;

}
.self-avatar:hover {
    animation: avatarBoxshadowChanging 0.5s linear alternate infinite;
}
.self-name {
    margin-top: 12px;
    font-size: 30px;
}
.self-hobby {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}
.self-contact {
    margin-top: 20px;
    font-size: 17px;
    color: #fff;
}
.self-contact-item {
    margin-top:14px;
    background-size: 25px;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 2px 1px 2px 35px;
}
.self-contact-item:hover {
    border-radius: 5px;
    box-shadow: 0 0 4px 3px #00BFFF;
}
.contact-item-link {
    color: #fff;
}
.self-exp {
    max-width: 350px;
    margin-top:35px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 7px;
    box-shadow: 0 0 3px 1px #00BFFF;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.self-exp-item {
    flex: 50%;
    line-height: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.resume-intro {
    flex: 1;
    height: 100%;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.study-exp {
    width: 100%;
}
.section-hd {
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #188eee;
    font-weight: 600;
    margin: 10px 20px;
}
.section-hd::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    left: 0;
    top: 50%;
}
.section-tt {
    width: 7rem;
    height: 2rem;
    background: #f5f5f5;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
.study-exp-content {
    margin: 0 16px 0 55px;
    position: relative;
}
.study-exp-content::before {
    content: "";
    width: 1px;
    height: 95%;
    background: linear-gradient(#999 80%,transparent);
    position: absolute;
    top: 7px;
    left: -20px;
}
.exp-content-list {

}
.exp-content-item {
    position: relative;
}
.exp-content-item:hover.exp-content-item::before{
    animation: expContentItemChanging 0.5s linear alternate infinite;
}
.exp-content-item::before {
    content: "";
    height: 10px;
    width: 10px;
    background: #188eee;
    box-shadow: 0 0 0 3px #87CEFF;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -25px;
}
.content-hd {
    font-size: 15px;
    font-weight: 600;
    margin-top: 18px;
    position: relative;
}
.content-bd {
    font-size: 13px;
    color: #999;
    margin-top: 9px;
}


.skill {
    width: 100%;
    margin-top: 40px;
}
.skill-content-list {
    margin: 0 15px 0 30px;
}
.content-hd-tip {
    position: absolute;
    right: 10px;
    top: 0;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 1px 6px;
    font-size: 5px;
    color: #999;
}
.item-progress-bar {
    width: 98%;
    height: 3px;
    background: #999;
    margin-top: 12px;
    position: relative;
    overflow: hidden;
}
.item-progress {
    margin-left: -100%;
    height: 100%;
    background: linear-gradient(to right, #188eee 70%, #00BFFF);
    position: absolute;
    left: 0;
    top: 0;
    animation: onloadProgressChanging 1s ease-out 1 forwards;
}
.skill-content-item:hover .item-progress{
    background: linear-gradient(to right, #00CD00 60%, #7CFC00);
    animation: hoverProgressChanging 1s ease-out 1 forwards;
}

@media screen and (max-width: 768px){
    .container {
        height: 200vh;
    }
    .resume-wrap {
        flex-direction: column;
        min-height: 100vh;
    }
    .resume-info {
        height: 100vh;
    }
    .resume-intro {
        justify-content: flex-start;
}

@media screen and (orientation: landscape) and (max-width: 768px){
    .container {
        height: 200vw;
    }
    .resume-wrap {
        flex-direction: column;
        height: 100%;
    }
    .resume-info {
        height: 50%;
    }
    .resume-intro {
        height: 50%;
    }
}